<mat-toolbar color="primary">
  <span>User Dashboard</span>
  <span class="spacer"></span>
  <app-search (search)="handleSearch($event)"></app-search>
</mat-toolbar>

<ng-container *ngIf="loading; else userContent">
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<ng-template #userContent>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div class="user-container" *ngIf="!errorMessage">
    <div *ngFor="let user of users" class="user-card">
      <mat-card class="mat-elevation-z3">
        <img mat-card-image [src]="user.avatar" alt="{{ user.first_name }}" />
        <mat-card-content>
          <span>{{ user.id }}/</span>
          <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            (click)="goToDetails(user.id)"
          >
            View Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <mat-paginator
    [length]="totalUsers"
    [pageSize]="pageSize"
    (page)="pageChanged($event)"
  >
  </mat-paginator>
</ng-template>
